@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
}

header h1{
    margin: 50px auto 50px 110px;
    font-size: 36px;
    color: #4F4F4F;
    font-style: normal;
    text-align: left;
}

.mega-container{
    display: flex;
    justify-content:space-around;
    padding: auto;
}


form{
    width: 36%;
    margin: 0 auto;
}

.part-1, .part-2, .part-3, legend{
    border: none;
    margin-left: 0;
    padding: 0;
}

.part-1{
    margin-bottom: 30px;
}

legend{
    margin-bottom: 15px;
    color: #333333;
    font-size: 18px;
}

input[type=email], input[type=tel], input[type=text] {
    width: 100%;
    padding: 12px 45px;
    margin: 10px 0 20px 0px;
    display: inline-block;
    border: 1px solid #828282;
    border-radius: 10px;
    box-sizing: border-box;
}

input::placeholder, select{
    overflow: visible;
    color:#828282;
}

#country{
    width: 80%;
    padding: 12px 40px;
    margin: 10px 0 20px 0px;
    display: inline-block;
    border: 1px solid #828282;
    border-radius: 10px;
    box-sizing: border-box;
}

.one-row{
    display: flex;
    justify-content: space-between;
}

label{
    font-size: 12px;
    color: #4F4F4F;
}

input.email {
    background: url(images/email.svg) left no-repeat;
    background-position: 10px;
}

input.phone{
    background: url(images/phone.svg) left no-repeat;
    background-position: 10px;
}

input.fullName{
    background: url(images/user.svg) left no-repeat;
    background-position: 10px;
}

input.address{
    background: url(images/address.svg) left no-repeat;
    background-position: 10px;
}

input.city{
    background: url(images/city.svg) left no-repeat;
    background-position: 10px;
}

select.country{
    background: url(images/country.svg) left no-repeat;
    background-position: 10px;
}

input.postal-code{
    background: url(images/postal.svg) left no-repeat;
    background-position: 10px;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
    vertical-align:middle;
}

.save-info{
    margin-left: 11px;
}

#submit-button{
    display: block;
    margin-right: 0;
    background-color: #F2994A;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 17px 45px;
    font-size: 16px;
    margin-top: 23px;
}

.quantity-container{
    display: flex;
    width: 140px;
    height: 50px;
    border: 1px solid;
    border-radius: 10px;
    border-color: #828282;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 27px;
} 

.plus-btn, .minus-btn{
    border: none;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    background-color: #E0E0E0;
    padding: 0;
}

.plus-btn svg, .plus-btn image, .minus-btn svg, .minus-btn image {
    width: 15px;
    height: 16px;
}

.plus-btn svg, .minus-btn svg{
    margin: 2px 0;
}

.container1, .container2{
    display: flex;
    width: 300px;
    gap: 20px;
}

.item-img img, .item-img{
    width: 134px;
    height: 136px;
    border-radius: 13px;
}

.item-name{
    font-size: 16px;
    color: #4E5150;
    margin-bottom: 6px;
}

.new-price{
    font-size: 16px;
    color: #F2994A;
}

.one .old-price, .two .old-price{
    font-size: 12px;
    color: #4E5150;
    position: relative;
    bottom: 16px;
    left: 75px;
}

.container1{
    margin: 30px 20px;
}

.container2{
    margin: 0px 20px 90px 20px;
}

.container3{
    margin: 0px 20px 0px 20px;
}

.total-title, .shipping-title{
    font-size: 18px;
}

.total-amount, .shipping-amount{
    font-size: 14px;
    position: relative;
    text-align: right;
    bottom: 19px;
}

.side-container{
    height: 535px;
    background-color: #F2F2F2;
    border-radius: 12px;
    margin: 0 auto;
}

hr{
    border-top: 1px solid #BDBDBD;
}

.shipping, .total{
    margin-top: 10px;
}

footer p, footer a {
    margin: 150px auto 30px auto;
    font-size: 14px;
    color: #4F4F4F;
    font-style: normal;
    text-align: center;
}

.plus-btn:hover, .minus-btn:hover{
    border: 1px solid #174ea6;
    background-color: #FFFFF0;
}

#submit-button:hover{
    color: black;
}


@media (max-width:1060px) {
    .mega-container{
        flex-direction: column-reverse;
    }

    form{
        margin-top: 60px;
        width: 50vw;
    }

    header h1{
        font-size: 50px;
    }

}