@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&display=swap');

*{
    margin: 0 auto;
    box-sizing: border-box;
}

body, .designer-box{
    background-color: #181719;
}

h1, p, a, h4{
    color: #FFFFFF;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}

.symbol{
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    margin-left: 60px;
    border: 1px solid;
    border-color: #FFFFFF; 
}

.symbol h4{
    margin: 8px;
}

.links{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px; 
    margin-right: 50px;   
}

.links a{
    margin: 30px;
    text-decoration: none;
}

.links a:hover{
    border-bottom: 1px solid;
    padding-bottom: 5px;
    font-weight: 800;
}

.main{
    display: flex;
    margin: 100px 60px;   /* don't change this  */
    align-items: center;
}

.text{
    height: 350px;
    width: 400px;
    margin-right: 50px;
    margin-left: 0px;
}

.text h1{
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 40px;
}

.text p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 40px;
}

.text a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.text a:hover{
    font-weight: 700;
}

.picture img{
    width: 750px;
    height: 500px;
}

.picture{
    margin-right: 0;
}


.designer-box{
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.profile-pic img{
    width: 60px;
    border-radius: 50%;
}

.container-1{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 8px;
}

.intro h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.intro p{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
    margin-top: 10px;
    color: #828282;

}

.profile-pic{
    margin-right: 30px
}

.container-2 p{
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: 700;
}

.container-2{
    width: 287px;
    margin: 15px 0px 15px 30px;
}

.designer-box{
    position: absolute;
    left: 790px;
    top: 580px;
}

footer {
    margin : 250px auto 30px auto;
    font-family: 'Lora', serif;
    font-size: 16px;
}

footer p {
    text-align: center;
}

@media (max-width:1060px) {

    .main{
        flex-wrap: wrap;
    }
    
}