@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


*{
    margin: 0 auto;
    box-sizing: border-box;
}

header h3{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 24px;
    margin: 40px auto auto 80px;
}

.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px auto auto auto;
    flex-wrap: wrap;
}

img{
    width: 530px;
    height: 450px;
}

.txt-Container{
    width: 600px;
}

.txt-Container h1{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 64px;
    color: #333333;
}

.txt-Container p{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 24px;
    color: #4F4F4F;
    margin: 40px 200px 40px 0px;
}

.txt-Container button{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #333333;
    padding: 20px 30px;
}

footer {
    margin : 150px auto 30px auto;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    color: #4F4F4F;
}

footer p {
    text-align: center;
}

@media (max-width:1060px) {
    
    header h3{
        margin: 20px auto auto 20px;
    }

    img{
        width: auto;
        max-height: 200px;
    }

    .img-Container{
        margin: 40px auto 40px auto;
    }

    .main{
        margin: 0px 20px;
    }

    .txt-Container h1{
        font-size: 30px;
    }

    .txt-Container p{
        font-size: 20px;
        margin: 40px 100px 40px 0px;
    }

}