@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
}

.intro{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    margin: 40px auto;
}

.intro h1{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 700;
    margin: auto auto 20px 0px;
}

.description{
    display: flex;
    max-width: 80%;
    align-items: flex-start;
    margin: auto auto 30px 0px
}


.six-dots{
    margin: 0px;
}

.description p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #4F4F4F;
    width: 65%;
    margin: 0px;
}

.intro img{
    width: 970px;
    max-width: 100%;
    margin-left: 0;
}

h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    margin-left: 0;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    color: #333333;
    margin: 30px auto 30px 0;
}

.styled-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 25px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 2.3em;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #aaa;
    background: #FFF;
    border-radius: .2em;
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
    -webkit-transition: all .275s;
            transition: all .275s;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✕';
    position: absolute;
    top: .525em;
    left: .18em;
    font-size: 1.375em;
    color: #CB22ED;
    line-height: 0;
    -webkit-transition: all .2s;
            transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
}


[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
}

.styled-list label{
    display: block;
}

ol {
    list-style: none;
    counter-reset: item;
    padding-left: 60px;
}

ol li {
    counter-increment: item;
    position: relative;
}

ol li:before {
    margin-right: 10px;
    content: counter(item);
    background: #F2994A;
    border-radius: 6px;
    color: white;
    width: 26px;
    height: 36px;
    padding: 6px 12px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    position: absolute;
    right: 100%;
    top: 0;
}

.ordered-list p{
    display: inline-block;
    max-width: 55%;
    margin-left: 10px;
}
  
.ingredients {
    max-width: 100%;
    width: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

.crust, .cake{
    margin-left: 0;
    width: 60%;
}

.baking-info {
    border: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 216px;
    height: 367px;
    border-radius: 25px;
    position: absolute;
    right: 205px;
    top: 730px;
}

.baking-info *{
    margin: 0;
}

.yield, .prep-time, .cook-time, .total-time {
    display: flex;
    align-items: center;
    margin: 40px;
}

.text h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #BDBDBD;
    margin-bottom: 5px;
}

.text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px; 
    color: #333333;
}

.yield p {
    color: #F2994A;
}

.filter-orange{
    filter: invert(73%) sepia(37%) saturate(1043%) hue-rotate(326deg) brightness(99%) contrast(91%);
}

.text{
    margin-left: 15px;
}

.instructions{
    max-width: 100%;
    width: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

.instructions li, .instructions h2{
    margin-bottom: 30px;
}

.recipe-link {
    margin: 50px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #BDBDBD;
}

footer p, footer a {
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #4F4F4F;
    font-style: normal;
    text-align: center;
}

@media (max-width:1060px) {

    .intro, .instructions, .ingredients, .baking-info, footer {
        margin: 40px 50px;
        max-width: 100%;
        width: auto;
    }

    .baking-info{
        display: flex;
        position: relative;
        top: 0;
        border: none;
        box-shadow: none;
        width: auto;
        height: auto;
        right: 0;
        gap: 50px;
        flex-wrap: wrap;
    }

    .yield, .prep-time, .cook-time, .total-time {
        margin: 0px;
    }

    .yield{
        flex-basis: 100%;
    }

}