@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0 auto;
    box-sizing: border-box;
}

.title h1{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}

h2, p, figcaption{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: left;
}

.introduction{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 150px;
}

.intro h2{
    margin-bottom: 10px;
}

.intro, .title{
    width: 40%;
}

img{
    height: 350px;
}

.staff{
    text-align: center;
}

.picture{
    position: relative;
    display: inline-block;
    margin: 10px 50px 50px 50px;
}


h3{
    transform: rotate(90deg);
    position: relative;
    left: 140px;
    top: 80px;
}

.jim h3, .ryan h3{
    top: 55px;
}

.dwight h3{
    top: 68px;
}

#down, #down-2{
    top: 80px;
}

footer {
    margin : 80px auto 30px auto;
}

footer p {
    text-align: center;
}


@media (max-width:1060px) {

    .introduction{
        flex-direction: column;
    }

    .title h1 {
        font-size: 70px;
    }

    .intro h2 {
        font-size: 50px;
        padding-top: 60px;
    }

    p, h3, figcaption {
        font-size: 30px;
    }

    .intro, .title{
        margin: auto;
        width: auto;
    }

    img{
        height: 450px;
    }

    #down-2{
        top: 0px;
    }

    #down-1{
        top: 80px;
    }

    .picture{
        margin-bottom: 80px;
    }

    h3{
        left: 180px;
        top: 125px;
    }

    .jim h3, .ryan h3{
        top: 90px;
    }

    .dwight h3{
        top: 100px;
    }
}